openapi: 3.1.0
info:
  title: CapCut YouTube Search
  description: Search for CapCut editing tutorials using the YouTube Data API v3.
  version: 1.0.0

servers:
  - url: https://www.googleapis.com

paths:
  /youtube/v3/search:
    get:
      operationId: getCapCutTutorial
      summary: Search YouTube for CapCut-related videos
      parameters:
        - name: part
          in: query
          required: true
          schema:
            type: string
            enum: [snippet]
          example: snippet
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: capcut slow motion tutorial
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [video]
          example: video
        - name: maxResults
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
      responses:
        '200':
          description: A successful response with YouTube search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: object
                          properties:
                            videoId:
                              type: string
                        snippet:
                          type: object
                          properties:
                            title:
                              type: string
                            description:
                              type: string
                            thumbnails:
                              type: object
                              properties:
                                default:
                                  type: object
                                  properties:
                                    url:
                                      type: string

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key

security:
  - ApiKeyAuth: []
