openapi: 3.0.0
info:
  title: CapCut Tutorial Search (via YouTube Data API)
  version: 1.0.0
  description: Searches YouTube for CapCut tutorials using YouTube Data API v3.

servers:
  - url: https://www.googleapis.com

paths:
  /youtube/v3/search:
    get:
      summary: Search for CapCut-related videos on YouTube
      operationId: getCapCutTutorial
      parameters:
        - in: query
          name: part
          required: true
          schema:
            type: string
            enum: [snippet]
          example: snippet
          description: The part parameter specifies a comma-separated list of one or more search resource properties.
        - in: query
          name: q
          required: true
          schema:
            type: string
          example: capcut 3d zoom tutorial
          description: Search query term
        - in: query
          name: type
          required: true
          schema:
            type: string
            enum: [video]
          example: video
          description: Restrict results to videos
        - in: query
          name: maxResults
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - in: query
          name: key
          required: true
          schema:
            type: string
          example: AIzaSyBk8fcnYTSdBWPzQ-iePGTtP2p9xxZP1NM
          description: Your YouTube Data API key
      responses:
        '200':
          description: Successful video search
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: object
                          properties:
                            videoId:
                              type: string
                        snippet:
                          type: object
                          properties:
                            title:
                              type: string
                            description:
                              type: string
                            thumbnails:
                              type: object
                              properties:
                                default:
                                  type: object
                                  properties:
                                    url:
                                      type: string
